requests
Flask==0.9
Flask-Babel==0.8
Flask-SQLAlchemy==0.16
Flask-WTF==0.8.3
Jinja2==2.6
PyMySQL==0.5
SQLAlchemy==0.8.0
dogpile.cache==0.4.2
pytz==2013b
simplejson==3.1.0
wsgiref==0.1.2
raven==3.1.17
blinker==1.2
#newrelic
Flask-DebugToolbar==0.8.0
gdata==2.0.17
pylibmc==1.2.3
gunicorn==0.17.2
#gevent==0.13.8
boto==2.8.0
DateUtils==0.6.5
alembic==0.4.2
mailsnake==1.6.2
